/* COMMON */
body{

  color:#333;
  font-size:16px;
  font-weight:400;
  line-height:1.4;
  font-family: 'Nanum Gothic', sans-serif;
  }
  img{
    display:block;
  }
  a{
    text-decoration:none;
  }
  .inner{width:1100px;margin:0 auto;position:relative;}
  
  .btn {width:130px;padding:10px;border: 2px solid #333;border-radius:4px;color:#333;font-size:16px;font-weight:700;text-align:center;cursor:pointer;box-sizing: border-box;display:block;transition:.4s;}
  .btn:hover{background-color:#333;color:#fff;}
  .btn.btn--reverse{background-color:#333;color:#fff;}
  /* 밑에 reverse:hover는 효과에서 다시 원래의 모습으로 돌아가는 효과를줌 */
  .btn.btn--reverse:hover{background-color:transparent; color:#333;}
  
  
  .btn.btn--brown {color:#592B18;border-color:#592B18;}
  .btn.btn--brown:hover {color:#fff;background-color:#592B18;}
  .btn.btn--gold {color:#D9AA8A;border-color:#D9AA8A;}
  .btn.btn--gold:hover {color:#fff;background-color:#D9AA8A;}
  .btn.btn--white {color:#fff;border-color:#fff;}
  .btn.btn--white:hover {color:#333;background-color:#fff;}
  .back-tp-position {
    opacity:0; /* 완전투명 */
    transition: 1s;
  }
  .back-tp-position.to-right
  /* 왼쪽에서 오른쪽으로 나타나는 애니메이션효과 */
  {transform:translateX(-150px);
    
  }
  .back-tp-position.to-left {
    transform:translateX(150px);
  }
  .show .back-tp-position {
    opacity:1;
    /* 다시화면에보임 */
    transform:translateX(0);
  }
  
  
  /* HEADER */
  header{z-index:9;background-color:#f6f5f0;border-bottom:1px solid #c8c8c8;position:fixed;top:0;width:100%;}
  header > .inner{height:120px;}
  header .inner .logo{ height:75px;position:absolute;top:0;bottom:0;left:0;margin:auto;}
  header .inner .sub-menu {display:flex;position:absolute;top:10px;right:2px;}
  header .inner .sub-menu .menu{display:flex;font-family:arial, sans-serif;}
  header .inner .sub-menu .menu li{position:relative;}
  header .inner .sub-menu .menu li::before{ content:"";width:1px; height:12px;background-color:#e5e5e5; position:absolute;bottom:0;top:0;margin:auto 0;}
  header .inner .sub-menu .menu li:first-child::before{display:none;}
  header .inner .sub-menu .menu li a{font-size:12px;padding:11px 16px;display:block;text-decoration:none;color:#656565;}
  header .inner .sub-menu .menu li a:hover {color:#000;}
  
  
  header .inner .sub-menu .search{position:relative;height:34px;}
  header .inner .sub-menu .search input{transition:width 0.4s;font-size:12px;background-color:#fff;outline:none;width:36px;height:34px;padding:4px 10px;border:1px solid #ccc; box-sizing:border-box;border-radius:5px;color:#777;}
  header .inner .sub-menu .search input:focus{width:190px;border-color:#669900;}
  header .inner .sub-menu .search .material-icons{position:absolute;top:0;bottom:0;margin:auto;height:24px;right:2.5px;transition:.5s;}
  header .inner .sub-menu .search.focused .material-icons{opacity:0;}
  
  header .main-menu{display:flex;position:absolute;bottom:0;right:0;z-index:1;}
  header .main-menu .item{}
  header .main-menu .item .item__name{padding:10px 20px 34px 20px;font-family:Arial, sans-serif;font-size:13px;}
  header .main-menu .item:hover .item__name{background-color:#2c2a29;color:#669900;border-radius:6px 6px 0 0;}
  header .main-menu .item .item__contents{width:100%;position:fixed;left:0;display:none;}
  header .main-menu .item:hover .item__contents{display:block; }
  
  header .main-menu .item .item__contents .contents__menu{background-color:#2c2a29;}
  header .main-menu .item .item__contents .contents__menu > ul {display:flex;padding:20px 0;}
  header .main-menu .item .item__contents .contents__menu > ul > li {width:220px;}
  header .main-menu .item .item__contents .contents__menu > ul > li h4 {padding:3px 0 12px 0;font-size:14px;color:#fff;}
  /* header .main-menu .item .item__contents .contents__menu > ul > li ul {} 사용안함*/
  header .main-menu .item .item__contents .contents__menu > ul > li ul li {padding:5px 0;font-size:12px;color:#999;cursor:pointer;}
  header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover{color:#669900;}
  
  
  header .main-menu .item .item__contents .contents__texture{background-color:pink;height:100px;font-size:12px;padding:26px 0;background-image:url("../images/main_menu_pattern.jpg");}
  /* header .main-menu .item .item__contents .contents__texture .inner{} 사용안함 */
  header .main-menu .item .item__contents .contents__texture .inner h4{color:#999;font-weight:700;font-size:12px;}
  header .main-menu .item .item__contents .contents__texture .inner p{color:#669900;margin:4px 0 14px;}
  
  
   /* 스크롤 옆 배지관련 부분 */
  header .badges{position:absolute;top:132px;right:12px;}
  header .badges .badge{ border-radius:10px; overflow:hidden;margin-bottom:12px;box-shadow:4px 4px 10px rgba(0,0,0,.15);cursor:pointer;}
  

  /* FOOTER */
  footer{background-color:#272727;border-top:1px solid #333;}
  footer .inner{padding:40px 0 60px 0;}
  footer .menu{display:flex;justify-content:center;}
  footer .menu li {position:relative;}
  footer .menu li::before {background-color:#555;content:"";width:3px;height:3px;position:absolute;top:0;bottom:0;right:-1px;margin:auto;}
  footer .menu li:last-child::before{display:none;}
  footer .menu li a{color:#ccc;font-size: 12px;font-weight:700;padding:15px;}
  footer .menu li a.green{color:#669900;}

  footer .btn-group{margin-top:20px;display:flex;justify-content:center;}
  footer .btn-group .btn{font-size:12px;margin-right:10px;}
  footer .btn-group .btn:last-child{margin-right:0;}

  footer .info{margin-top:30px;text-align:center;}
  footer .info span{margin-right:20px;color:#999;font-size:12px;}
  footer .info span:last-child{margin-right:0;}



  footer .copyright {color:#999;font-size:12px;text-align:center;margin-top:12px;}
  footer .logo {margin:30px auto 0;} 
  /* {margin: top right/left bottom} */